SBDX_save/
SBDX_shots/
SBDX_replays/
/crashes
SBDX_skins/player/1.8 Skins/
SBDX_skins/player/1.8 Skins/ashura-card.png
SBDX_skins/player/1.8 Skins/ashura-icon.png
SBDX_skins/player/1.8 Skins/ashura.png
SBDX_skins/player/1.8 Skins/bowser-card.png
SBDX_skins/player/1.8 Skins/bowser-icon.png
SBDX_skins/player/1.8 Skins/bowser-palette.png
SBDX_skins/player/1.8 Skins/bowser-sprays.png
SBDX_skins/player/1.8 Skins/bowser.png
SBDX_skins/player/1.8 Skins/mecha-basic.png
SBDX_skins/player/1.8 Skins/mecha-big.png
SBDX_skins/player/1.8 Skins/mecha-card.png
SBDX_skins/player/1.8 Skins/mecha-feather.png
SBDX_skins/player/1.8 Skins/mecha-fire.png
SBDX_skins/player/1.8 Skins/mecha-icon.png
SBDX_skins/player/1.8 Skins/mecha-palette.png
SBDX_skins/player/1.8 Skins/mecha-sprays.png
SBDX_skins/player/1.8 Skins/music/princess.ogg
SBDX_skins/player/1.8 Skins/music/starman-l673.ogg
SBDX_skins/player/1.8 Skins/other/bowser-icon.png
SBDX_skins/player/1.8 Skins/other/palette stuffs unused/README.txt
SBDX_skins/player/1.8 Skins/other/palette stuffs unused/sonic-palette.png
SBDX_skins/player/1.8 Skins/other/palette stuffs unused/sonic-sprays.png
SBDX_skins/player/1.8 Skins/other/palette stuffs unused/sonic.png
SBDX_skins/player/1.8 Skins/other/sonic-card.png
SBDX_skins/player/1.8 Skins/other/sonic-icon.png
SBDX_skins/player/1.8 Skins/other/sonic-oldsignpost.png
SBDX_skins/player/1.8 Skins/other/sonic.png
SBDX_skins/player/1.8 Skins/player.txt
SBDX_skins/player/1.8 Skins/princess.png
SBDX_skins/player/1.8 Skins/sfx/bowserdamage.wav
SBDX_skins/player/1.8 Skins/sfx/bowserdie.wav
SBDX_skins/player/1.8 Skins/sfx/bowserduck.wav
SBDX_skins/player/1.8 Skins/sfx/bowserfire.wav
SBDX_skins/player/1.8 Skins/sfx/bowserhammer.txt
SBDX_skins/player/1.8 Skins/sfx/bowserjump.wav
SBDX_skins/player/1.8 Skins/sfx/bowserringdamage.wav
SBDX_skins/player/1.8 Skins/sfx/bowserselect.wav
SBDX_skins/player/1.8 Skins/sfx/bowsershielddamage.wav
SBDX_skins/player/1.8 Skins/sfx/bowserspin.wav
SBDX_skins/player/1.8 Skins/sfx/bowserstep.txt
SBDX_skins/player/1.8 Skins/sfx/bowserstomp.wav
SBDX_skins/player/1.8 Skins/sfx/bowsersuperjump1.txt
SBDX_skins/player/1.8 Skins/sfx/bowsersuperjump2.wav
SBDX_skins/player/1.8 Skins/sfx/bowserswim.wav
SBDX_skins/player/1.8 Skins/sfx/mechachain.wav
SBDX_skins/player/1.8 Skins/sfx/mechadamage.wav
SBDX_skins/player/1.8 Skins/sfx/mechadie.wav
SBDX_skins/player/1.8 Skins/sfx/mechajet.wav
SBDX_skins/player/1.8 Skins/sfx/mechajump.wav
SBDX_skins/player/1.8 Skins/sfx/mecharelease.wav
SBDX_skins/player/1.8 Skins/sfx/mechaselect.wav
SBDX_skins/player/1.8 Skins/sfx/mechaspike.wav
SBDX_skins/player/1.8 Skins/sfx/mechaspin.wav
SBDX_skins/player/1.8 Skins/sfx/mechasplode.wav
SBDX_skins/player/1.8 Skins/sfx/mechastep.wav
SBDX_skins/player/1.8 Skins/sfx/mechastomp.wav
SBDX_skins/player/1.8 Skins/sfx/mechataunt.wav
SBDX_skins/player/1.8 Skins/sfx/mechawin.wav
SBDX_skins/player/1.8 Skins/sfx/metaltaunt.txt
SBDX_skins/player/1.8 Skins/sfx/oldbowserjump.wav
SBDX_skins/player/1.8 Skins/sfx/sonicairdash.wav
SBDX_skins/player/1.8 Skins/sfx/sonicboom.wav
SBDX_skins/player/1.8 Skins/sfx/sonicdamage.wav
SBDX_skins/player/1.8 Skins/sfx/sonicdie.wav
SBDX_skins/player/1.8 Skins/sfx/sonicdropdash.wav
SBDX_skins/player/1.8 Skins/sfx/sonicfiredash.wav
SBDX_skins/player/1.8 Skins/sfx/sonicinsta.wav
SBDX_skins/player/1.8 Skins/sfx/sonicjump.wav
SBDX_skins/player/1.8 Skins/sfx/sonicrelease.wav
SBDX_skins/player/1.8 Skins/sfx/sonicringdamage.wav
SBDX_skins/player/1.8 Skins/sfx/sonicselect.wav
SBDX_skins/player/1.8 Skins/sfx/sonicshielddamage.wav
SBDX_skins/player/1.8 Skins/sfx/sonicskid.wav
SBDX_skins/player/1.8 Skins/sfx/sonicspin.wav
SBDX_skins/player/1.8 Skins/sfx/sonicspindash.wav
SBDX_skins/player/1.8 Skins/shields.png
SBDX_skins/player/1.8 Skins/sonic-card.png
SBDX_skins/player/1.8 Skins/sonic-icon.png
SBDX_skins/player/1.8 Skins/sonic-palette.png
SBDX_skins/player/1.8 Skins/sonic-sprays.png
SBDX_skins/player/1.8 Skins/sonic.png
